* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

button {
  width: 120px;
  height: 60px;
  border-radius: 100px;
  background-color: lightskyblue;
}

header,
main,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  height: auto;
  background-image: url("./../img/lake-g0d81cf6a2_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  row-gap: 30px;
}

section {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

header,
main,
footer,
section {
  flex-wrap: wrap;
}

main {
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 200px;
  row-gap: 50px;
}

.first-section {
  width: 60%;
  flex-direction: column;
}

footer {
  background-color: lightgray;
}

footer {
  row-gap: 10px;
}

header :is(h1, p, button) {
  color: white;
}

main,
footer {
  color: black;
}

a {
  color: lightskyblue;
}

.second-section article {
  width: 30%;
  min-width: 350px;
}

.second-section img {
  width: 100%;
  height: auto;
}

.third-section article {
  width: 20%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.laptop {
  width: 60%;
  height: auto;
  margin-bottom: -140px;
}

.laptop img {
  width: 100%;
  height: auto;
}

footer img {
  width: 64px;
  height: auto;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 500;
}

a,
p {
  font-weight: 400;
}
